@charset "UTF-8";

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* font-family: font37857; */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* close commented backslash hack */

body {
	margin: 0 auto;
}

section,
div.wrapper {
	width: 940px;
	margin: 0 auto;
}

/* ------------ Header  ----------*/
.site-header {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 108px;
}

.site-header::before {
	content: '';
	display: block;
	background: url("../img/header.jpg") top center no-repeat;
	background-size: cover;
	height: 350px;
	margin-bottom: -94px;
}

.site-header .site-name {
	padding: 0;
	margin: 0;
	margin-bottom: -84px;
}

.site-header .site-name a {
	display: block;
	background: url("../img/boy.png") top left no-repeat;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 7px solid #fff;
	width: 197px;
	height: 197px;
	text-indent: -9999em;
	margin: 0 auto;
}

img.head {
	width: 100%;
	height: 350px;
	margin-bottom: 32px;
}

.site-header .site-nav {
	position: relative;
	height: 64px;
}

.site-header .site-nav > ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	top: 0;
	left: 50%;
}

.site-header .site-nav > ul:first-child {
	-webkit-transform: translateX(-160%);
	-moz-transform: translateX(-160%);
	-ms-transform: translateX(-160%);
	-o-transform: translateX(-160%);
	transform: translateX(-160%);
}

.site-header .site-nav > ul:last-child {
	-webkit-transform: translateX(42%);
	-moz-transform: translateX(42%);
	-ms-transform: translateX(42%);
	-o-transform: translateX(42%);
	transform: translateX(42%);
}

.site-header .site-nav li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-family: font37857;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 16px;
	margin-right: 50px;
}

.site-header .site-nav li:last-child {
	margin-right: auto;
}

.site-header .site-nav li a {
	color: #bcbcbc;
	text-decoration: none;
}

.site-header .site-nav li a:hover {
	color: #3eb3a5;
	border-bottom: 5px solid #afafaf;
	padding-bottom: 16px;
}

.site-header .site-nav li.site-logo img {
	border: 6px solid white;
	border-radius: 50%;
	vertical-align: middle;
}

.site-header .site-nav li.has-submenu {
	color: #bcbcbc;
	position: relative;
}

.site-header .site-nav .dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	left: -10px;
	background-color: #fff;
	min-width: 226px;
	min-height: 320px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 0 20px 27px 14px;
}

.site-header .site-nav .dropdown-content li {
	display: block;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #e1e1e1;
	font-size: 18px;
	font-weight: normal;
}

.site-header .site-nav .dropdown-content li {
	margin-right: 0;
}

.site-header .site-nav .dropdown-content li a {
	display: block;
	padding: 20px 8px;
}

.site-header .site-nav .dropdown-content li:hover a {
	border: none;
}

.site-header .site-nav li.has-submenu:hover .dropdown-content {
	display: block;
	z-index: 5;
}

.hello {
	text-align: center;
	font-size: 18px;
	font-family: font37857;
	color: #a0a0a0;
	margin: 0px;
	padding-bottom: 9px;
}

hr.one {
	border-color: #b7b7b7;
	width: 32px;
	margin: 0px;
	margin-left: 48.58333333333333%;
	padding-bottom: 4px;
}

hr.two {
	border-color: #b7b7b7;
	width: 32px;
	margin: 0px;
	margin-left: 48.58333333333333%;
	margin-bottom: 45px;
}

/* ----------------content -----------*/

.content {
	margin-bottom: 38px;
	border-image-source: url('../img/border1.png');
}

.content .dates {
	width: 11.70212765957447%;
	height: 110px;
	display: inline-block;
	float: left;
	border: 7px solid #ebebeb;
	border-radius: 50%
}

.content .dates p {
	font-family: font37857;
	font-size: 30px;
	font-weight: bold;
	color: #3eb3a5;
	text-align: center;
	margin: 36px 0px 0px 0px;
}

.content .reading {
	margin-left: 124px;
}

.content .reading .cat {
	margin-top: 33px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 25px;
}

.content .reading .cat p {
	margin: 0px;
	display: inline-block;
	margin-bottom: 13px;
	font-size: 14px;
	color: #c0c0c0;
	font-family: font37857;
	line-height: 25px;
	border-right: 1px solid #ebebeb;
}

.content .reading .cat p:first-child {
	padding-left: 1.48936170212766%;
}

.content .reading .cat p.likes {
	padding-right: 1.914893617021277%;
}

.content .reading .cat p.likes a {
	color: #c0c0c0;
}

.content .reading .cat p.likes a:hover {
	color: #3eb3a5;
}

.content .reading .cat p.comments {
	border: none;
}

.content .reading .cat p.comments a {
	color: #c0c0c0;
}

.content .reading .cat p.comments a:hover {
	color: #3eb3a5;
}

.content .reading .cat img {
	padding-left: 1.914893617021277%;
}

.content .reading .cat p a {
	font-size: 15px;
	color: #3eb3a5;
	font-family: font37857;
	text-decoration: none;
	padding-right: 10px;
}

.content .reading .cat p a:hover {
	text-decoration: underline;
}

.content .reading .cat i {
	padding-left: 10px;
	color: #3eb3a5;
}

.content .reading .preview {
	margin-bottom: 24px;
}

.content .reading .preview h1 {
	font-family: font37857;
	font-size: 30px;
	font-weight: bold;
}

.content .reading .preview h3 {
	font-family: font37857;
	font-size: 16px;
	color: #8e8e8e;
	font-weight: normal;
}

.content .reading .preview a {
	font-family: font37857;
	font-size: 16px;
	color: #3eb3a5;
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 7px;
	border-bottom: 1px solid #e1e1e1;
}

button {
	margin-top: 12px;
	background-color: #3eb3a5;
	font-family: font37857;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border: none;
	padding: 22px;
	border-radius: 10px;
	margin-left: 44.16666666666667%;
	margin-bottom: 108px;

}

button:hover {
	opacity: .8
}

footer p {
	font-family: font37857;
	font-size: 18px;
	color: #aeaeae;
	margin-left: 40.41666666666667%;
}

footer p a {
	color: #3eb3a5;
	text-decoration: none;
}

footer p a:hover {
	padding-bottom: 3px;
	text-decoration: underline;
}

@media only screen and (max-width: 970px) {

	.content .reading {
		width: 50%;
		margin-right: 0px;
	}

	.site-header .site-nav ul {
		margin-left: 2%;
		display: inline-block;
	}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when .site-navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	*:first-line {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
										  http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
